html {
    background: linear-gradient(
        -100grad,
        rgb(199, 199, 199) 50%,
        rgb(175, 175, 175) 50%
    )
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.choice {
    background-color: transparent;
    border: none;
    font-size: 6rem;
}

.results {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.results > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.results div span {
    font-size: 2rem;
    margin-left: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

i {
    transition: 0.1s ease-in-out;
    cursor:grab;
}

.choice:hover {
    transform: scale(1.2);
    box-shadow: 10px red;
}

i, :visited, :active {
    color: black;
}

.result-icons {
    background-color: transparent;
    font-size: 6rem;
}

.past-games {
    display: flex;
    height: 100px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.outcome {
    height: 20px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-end {
    height: 50px;
}

#reset {
    margin-top: 30px;
}